{% extends "base.html" %}
{% load i18n %}
{% block title %}log in - {% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
    <li>
        <a href="{% url home %}">{% trans 'home' %}</a>
    </li>
    <li>{% trans 'login' %}</li>
</ul>
{% endblock %}

{% block main %} 
<h2>log in</h2>
{% if form.errors %}
<p class="error">
    please correct the errors below:
</p>
{% endif %}
<form method="post" action="?next={{ next|default:"/" }}">
    {% csrf_token %}
    <dl>
        <dt>
            <label for="id_username">username:</label>{% if form.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}
        </dt>
        <dd>
            {{ form.username }}
        </dd>
        <dt>
            <label for="id_password">password:</label>{% if form.password.errors %} <span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}
        </dt>
        <dd>
            {{ form.password }}
        </dd>
        <dt>
            <input type="submit" value="log in" />
        </dt>
    </dl>
</form>
<p>
    If you don't have an account, you can <a href="/accounts/register/">sign
    up</a> for one. To reset your password click <a href="{% url auth_password_reset %}">here</a>.
</p>
{% endblock %} 