Django==1.3.1
FeinCMS==1.5.0.pre1
GnuPGInterface==0.3.2
Jinja2==2.6
PAM==0.4.2
PIL==1.1.7
Pygments==1.4
SOAPpy==0.12.0
Sphinx==1.0.8
apt-xapian-index==0.45
cups==1.0
django-extensions==0.7.1
django-imagekit==1.1
django-mptt==0.5.2
django-registration==0.7
django-sphinx==2.2.4
django-tagging==0.3.1
django-tinymce==1.5.1b2
docutils==0.8.1
fpconst==0.7.2
html5lib==0.90
logilab-common==0.57.1
numpy==1.5.1
pep8==0.6.1
pyOpenSSL==0.13
pyPdf==1.13
pyasn1==0.0.11a
pycurl==7.19.0
pygraphviz==1.1
python-debianbts==1.10
python-xlib==0.14
pyxdg==0.26
reportbug==6.3.1
reportlab==2.5
simplegeneric==0.7
wsgiref==0.1.2
xhtml2pdf==0.0.3
