{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ page.title }} - {% endblock %}
{% block breadcrumbs %}
<ul class="breadcrumbs">
    <li><a href="{% url home %}">{% trans 'home' %}</a></li>
    {% ifnotequal page.url '/' %}
    {% with page.get_ancestors as ancestors %}
    {% for ancestor in ancestors %}
    <li><a href="{{ ancestor.get_absolute_url }}">{{ancestor.menu_name|lower}}</a></li>
    {% endfor %}
    {% endwith %}
    <li>{{ page.menu_name|lower }}</li>
    {% endifnotequal %}
</ul>
{% endblock %}
	{% block content %}
        <h1 class="pagetitle">{{ page.title }}</h1>
        <div class="column1-unit">
          {{ page.content }}
        </div>
	{% endblock %}
