<div class="portfoliaStatic">
    <img src="{{ MEDIA_URL }}images/portfoliaStaticLeft.png" class="portfoliaStaticLeft" alt="gradient lewy" />
    <img src="{{ MEDIA_URL }}images/portfoliaStaticRight.png" class="portfoliaStaticRight" alt="gradient prawy" />
    <marquee><span>{{ portfolios_num }}</span> portfolii, <span>{{ projects_num }}</span> projektów, <span>{{ photos_num }}</span> zdjęć, <span>{{ videos_num }}</span> filmów, <span>{{ audios_num }}</span> utworów muzycznych</marquee>
</div>
