{% load paginator_tags gallery_tags %}
<div class="block22">
    <a id="top"><!-- --></a>
    <div class="block17 oh bgWhite">
        <div class="block1Name">
                <div class="block1NameBG">
                    {{ title|title }}
                </div>
            </div>
        <div class="strony floatRight">
            {% paginator_tag_query page_obj query_dict %}
        </div>
    </div>
    <div class="block1">
        <div class="block1PortBody">
            {% for object in object_list %}
                {% with 640 as lead_width %}
                    {% with 230 as lead_height %}
                        {% include 'portfolio/includes/lead_item.html' %}
                    {% endwith %}
                {% endwith %}
            {% endfor %}
            <div class="block17 oh bgWhite">
                <div class="block16Item1Size">
                    <div class="block16Item1">
                        <div class="block16Item1Arrow">
                            <span onclick="location.href='#top';" class="pointer">do góry</span>
                        </div>
                    </div>
                </div>
                <div class="strony floatRight">
                    {% paginator_tag_query page_obj query_dict %}
                </div>
            </div>
        </div>
    </div>
</div>
