{% extends 'portfolio/base.html' %}

{% load portfolio_tags gallery_tags util_tags %}

{% block title %}Kontakt {{ object.user.username }} - {% endblock %}
{% block description%}Kontakt {{ object.user.username }}{% endblock%}
{% block keywords%}kontakt, {{ object.user.username }}{%endblock%}

{% block extra_head %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#contact_form_container').hide();
            $('#send_message').click(function() {
                $('#contact_form_container').show();
            });
        });
    </script>
{% endblock %}

{% block breadcrumb %}
    <ul>
        <li>
            <div class="bredcrumbRFirst"><div class="bredcrumbDesc" onclick="location.href='/';">Strona główna</div></div>	
        </li>
        <li>
            <div class="bredcrumbL"><div class="bredcrumbR"><div class="bredcrumbDesc" onclick="location.href='{% url portfolio_index %}';">portfolia</div></div></div>
        </li>
        <li>
            <div class="bredcrumbL"><div class="bredcrumbR"><div class="bredcrumbDesc" onclick="location.href='{{ object.get_absolute_url }}';">{{ object.user.username }}</div></div></div>
        </li>
        <li>
            <div class="bredcrumbDescLast">kontakt</div>
        </li>
    </ul>
{% endblock %}

{% block profile_content %}
    {% portfolio_header object 'contact' %}
    <div class="block23 bgWhite">
        <div class="block17 oh">
            <div class="block1Name">
                <div class="block1NameBG">
                    KONTAKT
                </div>
            </div>
        </div>
        <div class="block23BodyGallery">
            <div class="block23BiogramBody oh">
                <div class="block23BiogramItem">
                    {% if object.photo %}
                        <div class="biogramImg floatLeft">
                            <img src="{% src_tag object.photo 250 309 1 %}" alt="{{ object.get_full_name|striptags }}" />
                        </div>
                    {% endif %}
                    <div class="biogramDesc contactCor">
                        <h1>{{ object.get_full_name }}</h1>
                        <div class="portfoliaContact">
                            {% if object.address %}
                                <div class="portfoliaContactItem">
                                    <div class="portfoliaContactLeft floatLeft">
                                        Adres
                                    </div>
                                    <div class="portfoliaContactRight floatLeft">
                                        {{ object.address|linebreaks }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if object.phone %}
                                <div class="portfoliaContactItem">
                                    <div class="portfoliaContactLeft floatLeft">
                                        Tel.
                                    </div>
                                    <div class="portfoliaContactRight floatLeft">
                                        {{ object.phone }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if object.fax %}
                                <div class="portfoliaContactItem">
                                    <div class="portfoliaContactLeft floatLeft">
                                        Fax
                                    </div>
                                    <div class="portfoliaContactRight floatLeft">
                                        {{ object.fax }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if object.mail %}
                                <div class="portfoliaContactItem">
                                    <div class="portfoliaContactLeft floatLeft">
                                        Mail
                                    </div>
                                    <div class="portfoliaContactRight floatLeft">
                                        <a href="mailto: {{ object.get_email }}" title="E-mail">{{ object.get_email }}</a>
                                    </div>
                                </div>
                            {% endif %}
                            {% if object.facebook %}
                                <div class="portfoliaContactItem">
                                    <div class="portfoliaContactLeft floatLeft">
                                        Facebook
                                    </div>
                                    <div class="portfoliaContactRight floatLeft">
                                        <a href="http://{{ object.facebook }}" title="Facebook">{{ object.facebook }}</a>
                                    </div>
                                </div>
                            {% endif %}
                            {% if object.www %}
                                <div class="portfoliaContactItem">
                                    <div class="portfoliaContactLeft floatLeft">
                                        Strona www
                                    </div>
                                    <div class="portfoliaContactRight floatLeft">
                                        <a href="http://{{ object.www }}" title="WWW">{{ object.www }}</a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="biogramFooter oh">
            <ul class="leftEdit floatLeft displayNone admin_item{{ object.user_id }}">
                <li class="biogramFooterFirst">
                    <a href="{% url portfolio_edit_contact %}" title="Edytuj kontakt">EDYTUJ KONTAKT</a>
                </li>
            </ul>
            <ul>
                <li class="biogramFooterFirst logged_item displayNone">
                    <a href="{% url portfolio_remove_friend object.id %}" title="Usuń ze znajomych {{ object.get_full_name|striptags }}" id="remove_friend" style="display: none;">USUŃ ZE ZNAJOMYCH</a>
                    <a href="{% url portfolio_add_friend object.id %}" title="Dodaj do znajomych {{ object.get_full_name|striptags }}" id="add_friend">DODAJ DO ZNAJOMYCH</a>
                </li>
                <li class="biogramFooterFirst">
                    <a href="javascript:;" title="Wyślij wiadomość" id="send_message">WYŚLIJ WIADOMOŚĆ</a>
                </li>
            </ul>
        </div>
    </div>
    {% portfolio_friends object %}
    <div id="contact_form_container">
        {% portfolio_contact_form object %}
    </div>
{% endblock %}
