{# bloczek includowany w "portfolio/includes/co_daje_portfolio.html" #}
<img src="http://cdn29.archirama.smcloud.net/t/myfile/konkurs_ipad2.jpg" border="0" usemap="#MapKonkurs" />
<map name="MapKonkurs" id="MapKonkurs">
  <area shape="rect" coords="0,147,314,232" href="http://www.archirama.pl/archikracja/portfolia/admin/" />
  <area shape="poly" coords="0,0,299,0,299,145,123,143,123,123,0,123" href="#URL_DO_STRONY_KONKURSOWEJ_ARTYKUŁU" />
  <area shape="rect" coords="6,126,119,143" href="#URL_DO_REGULAMINU" target="_blank" />
</map>